body {
  margin: 0;
  padding: 0;
}
h1, h2 {
	text-align: center;
}
h2 {
	margin-bottom: 50px;
}
.container {
  display: flex;
  justify-content: space-around;
}
.form {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#btn-play{
  display: block;
  width: 200px;
  margin-top: 20px;
}
.message {
  width: 30%;
}
.board {
  width: 30%;
  width: 400px;
  height: 400px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  margin: 0 auto;
}
.grid {
  cursor: pointer;
	display: flex;
	justify-content: center; 
	align-items: center; 
	font-size: 2em;
}
.one {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
.two {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.three {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}
.four {
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
.five {
  border: 1px solid black;
}
.six {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}
.seven {
  border-top: 1px solid black;
  border-right: 1px solid black;
}
.eight {
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}
.nine {
  border-top: 1px solid black;
  border-left: 1px solid black;
}
